h1 {text-align:center; font-family: Verdana}

h2 {text-align:center;font-family: Verdana}

p {text-align:center;font-family: Verdana; font-style: italic;
}
body {
  background-image: url("../bristol.jpg");
  background-size: cover;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 250px 250px 250px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 10px;
  margin: 100px;
  margin-top: 10px;
}

.grid-item {
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  opacity: 0;
  height: 100%;
  transition: .5s ease;
  background-color: rgba(255,105,180, 0);
}

.tyle1:hover .overlay {
  opacity: 1;
  background-color: rgba(255,105,180, 0.5);
}

.tyle2:hover .overlay {
  opacity: 1;
  background-color: rgba(255,105,180, 0.5);
}

.tyle3:hover .overlay {
  opacity: 1;
  background-color: rgba(255,105,180, 0.5);
}

.tyle4:hover .overlay {
  opacity: 1;
  background-color: rgba(255,105,180, 0.5);
}

.tyle5:hover .overlay {
  opacity: 1;
  background-color: rgba(255,105,180, 0.5);
}

.tyle6:hover .overlay {
  opacity: 1;
  background-color: rgba(255,105,180, 0.5);
}

.text {
  color: white;
  font-size: 20px;
  text-align: center;
}

.tyle1 {
  background-image: url("../cocktail.jpeg");
}

.tyle2 {
  background-image: url("../wggrace.jpg");
}

.tyle3 {
  background-image: url("../kids.jpg");
}

.tyle4 {
  background-image: url("../beer.jpg");
}

.tyle5 {
  background-image: url("../novelty.jpg");
}

.tyle6 {
  background-image: url("../hip.jpg");
}
